<h1><%= t("titles.slidebar.search") %></h1>

<%= form_tag question_search_path, method: :get do %>
  <p>
    <%= search_field_tag :q, nil, autocomplete: "hackerboard-questions", result: 5 %>
    <%= submit_tag "OK" %>
  </p>
<% end %>